.page-header {
    border-bottom: 1px;
    border: 1px solid #ececec;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media screen and(min-width:1200px) {
        max-width: 1200px;
        border: none;
    }
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: raleway, sans-serif;
    @include font($fw: 700, $fs: 26px);
    line-height: 1.19;

    &:hover {
        color: var(--accent-color);
    }

    &__second-part {
        color: var(--title-text-color);
    }
}
.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}
