.hero {
    text-align: center;
    background: #2f303a;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and(min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and(min-resolution: 2dppx) and (max-width: 767px) {
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(..//../images/mob/hero-mob@2x.jpg);
        padding: 118px 0;
        max-width: 480px;
        min-height: 400px;
    }
    @media screen and(max-width:767px) {
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(..//../images/mob/hero-mob.jpg);
    }

    @media screen and(min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and(min-resolution: 2dppx) and (min-width: 768px) {
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(..//../images/tab/hero-tab@2x.jpg);
        padding: 118px 0;
        max-width: 768px;
        min-height: 400px;
    }

    @media screen and(min-width:768px) {
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(..//../images/tab/hero-tab.jpg);
    }

    @media screen and(min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and(min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(..//../images/desktop/hero-desk@2x.jpg);
        padding: 200px 0;
        max-width: 1600px;
        min-height: 600px;
    }
    @media screen and(min-width:1200px) {
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(..//../images/desktop/hero-desk.jpg);
    }

    &__title {
        @media screen and (max-width: 1199px) {
            @include font($fw: 900, $fs: 26px);
            line-height: 1.62;
        }
        max-width: 650px;
        color: var(--primary-white-color);
        @include font($fw: 900, $fs: 44px);
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 0 auto;
    }
    &__button {
        border: none;
        border-radius: 4px;
        padding: 10px 32px;
        color: var(--primary-white-color);
        @include font($fw: 700, $fs: 16px);
        line-height: 1.87;
        letter-spacing: 0.06em;
        background-color: var(--accent-color);
        margin-top: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: #188ce8;
        }
    }
}
