.footer-social {
    @media screen and(min-width:480px) {
        display: block;
        text-align: center;
    }
    @media screen and(min-width:768px) {
        padding-top: 65px;
    }
}

.footer-title {
    text-transform: uppercase;
    color: var(--primary-white-color);
    @include font($fw: 700, $fs: 14px);
    line-height: 16px;
}

.soclist {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socitem {
    width: 44px;
    height: 44px;
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.soclink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}
