.section {
    padding: 60px 0;
    margin-right: auto;
    margin-left: auto;

    &-works {
        @media (max-width: 1199px) {
            display: none;
        }
    }
    &-works {
        padding-bottom: 94px;
    }
    &-feature {
        @media (min-width: 1199px) {
            padding: 94px 0;
        }
    }
    &-command {
        @media (min-width: 1200px) {
            padding: 94px 0;
        }
    }
    &.client {
        @media (min-width: 1200px) {
            padding: 94px 0;
        }
    }
}
